<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
    <link rel="stylesheet" href="/../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/../assets/css/Bootstrap-Cards-v2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/../assets/css/News-Cards.css">
    <link rel="stylesheet" href="/../assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/../assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark clean-navbar" style="color: rgb(255,255,255);padding-bottom: 8px;padding-top: 8px;">
        <div class="container"><a class="navbar-brand text-light logo" href="\">Brand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="margin-left: 90px;">
                <form class="form-inline">
                    <div class="form-group" style="margin-right: 20px;"><input class="form-control search-field" type="search" id="search-field" name="search" style="width: 500px;"><i class="fa fa-search" style="font-size: 25px;margin-left: 10px;"></i></div>
                </form>
                <ul class="nav navbar-nav" style="margin-left: 10px;">
                    <li class="nav-item" role="presentation" style="padding-right: 20px;"><a class="nav-link text-light" href="/internal/blog/">Blog</a></li>
                    <li class="nav-item" role="presentation" style="padding-right: 20px;"><a class="nav-link text-light" href="/internal/profile/">Account</a></li>
                    <li class="nav-item" role="presentation" style="padding-right: 15px;"><a class="nav-link text-light" href="/internal/about/">About Us</a></li>
                    <li class="nav-item" role="presentation" style="padding-right: 0px;"><a class="nav-link text-light" href="/internal/cart/">CART<i class="fa fa-opencart float-left nav-link" style="font-size: 23px;padding: 0px;margin-top: -3px;color: #ffffff;margin-right: 6px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page product-page" style="padding-top: 60px;margin-bottom: -80px;">
        <section class="clean-block clean-product dark" style="padding-top: 15px;">
            <div class="container">
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6 col-xl-5">
                                <div class="gallery">
                                    <div class="sp-wrap"><a href="{{allProds.0.l1}}"><img class="img-fluid d-block mx-auto" src="{{allProds.0.l1}}"></a><a href="{{allProds.0.l2}}"><img class="img-fluid d-block mx-auto" src="{{allProds.0.l2}}"></a><a href="{{allProds.0.l3}}"><img class="img-fluid d-block mx-auto" src="{{allProds.0.l3}}"></a>
                                        <a
                                            href="{{allProds.0.l4}}"><img class="img-fluid d-block mx-auto" src="{{allProds.0.l4}}"></a><a href="{{allProds.0.l5}}"><img class="img-fluid d-block mx-auto" src="{{allProds.0.l5}}"></a></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-7">
                                <div class="info" style="margin-top: 20px;">
                                    <h3 name='name'>{{allProds.0.name}}</h3>
                                    <div class="rating"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star-half-empty.svg"><img src="/../assets/img/star-empty.svg"><span>{{allProds.0.rating}}</span></div>
                                    <div>
                                        <h1 class="text-monospace text-capitalize text-success" style="font-size: 13px;">Special price</h1>
                                    </div>
                                    <div>
                                        <div class="row" style="margin: 0px;margin-bottom: 8px;">
                                            <div class="col-xl-3" style="padding: 0px;">
                                                <h3 class="float-left" style="margin: 0px;" name='price'><strong>Rs. {{allProds.0.price}}</strong></h3>
                                            </div>
                                            <div class="col-xl-2" style="padding: 0px;margin-right: 12px;margin-left: 12px;">
                                                <h6 class="text-secondary float-left" style="margin-top: 8px;margin-bottom: 0px;"><span style="text-decoration: line-through;">Rs. {{allProds.0.mrp}}</span></h6>
                                            </div>
                                            <div class="col-xl-4" style="padding: 0px;">
                                                <h6 class="text-monospace text-success float-left" style="margin-top: 8px;margin-bottom: 0px;"><strong>Rs. {{allProds.0.less}} off</strong></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-responsive table-borderless">
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th style="font-size: 15px;">Offers Available</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-size: 13px;"><i class="icon ion-ios-pricetags" style="margin-right: 12px;font-size: 18px;color: #00c366;"></i><strong>Bank Offer </strong>10% Instant Discount with ABCD Bank Credit Card Transactions&nbsp;<a href="#"><strong>T&amp;C</strong></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 13px;"><i class="icon ion-ios-pricetags" style="margin-right: 12px;font-size: 18px;color: #00c366;"></i><strong>Bank Offer </strong>8% Instant Discount with ABCD Bank Debit Card Transactions&nbsp;<a href="#"><strong>T&amp;C</strong></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 13px;"><i class="icon ion-ios-pricetags" style="margin-right: 12px;font-size: 18px;color: #00c366;"></i><strong>Bank Offer </strong>5% Cashback on Axis Plus Bank Credit Card Transactions&nbsp;<a href="#"><strong>T&amp;C</strong></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 13px;"><i class="icon ion-ios-pricetags" style="margin-right: 12px;font-size: 18px;color: #00c366;"></i><strong>Bank Offer </strong>8% Instant Discount with UPI Transactions&nbsp;<a href="#"><strong>T&amp;C</strong></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><form action="/account/{{allProds.0.name}}/{{allProds.0.price}}/"><button class="btn btn-primary float-right" type="submit"><i class="icon-basket"></i>Add to Cart</button></form><label class="text-secondary float-left" style="margin-right: 30px;font-size: 15px;margin-top: 6px;">Delievery</label>
                                        <div
                                            class="input-group mb-3 bod" style="width: 260px;margin: 0px;">
                                            <div class="input-group-prepend"><span class="bg-white border-white input-group-text" style="height: 33px;"><i class="icon ion-ios-location border-secondary" style="font-size: 20px;width: 30px;"></i><input class="border-white" type="text" required="" maxlength="6" minlength="6" style="font-size: 14px;height: 32px;border-top: hidden;border-right: hidden;border-left: hidden;" placeholder="Enter Delivery Pincode"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="description-tab" href="#description">Description</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="specifications-tabs" href="#specifications">Specifications</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="row">
                                    <div class="col-md-5">
                                        <figure class="figure"><img class="img-fluid figure-img" src="{{allProds.0.l1}}"></figure>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>Maximum Display Resolution {{allProds.0.Maximum_Display_Resolution}}</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 right">
                                        <h4>{{allProds.0.Processor_Brand}} Processor</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                    <div class="col-md-5">
                                        <figure class="figure"><img class="img-fluid figure-img" src="{{allProds.0.l2}}"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show specifications" role="tabpanel" id="specifications">
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="stat">Screen_Size</td>
                                                <td>{{allProds.0.Screen_Size}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Maximum_Display_Resolution</td>
                                                <td>{{allProds.0.Maximum_Display_Resolution}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Item_Weight</td>
                                                <td>{{allProds.0.Item_Weight}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Product_Dimensions</td>
                                                <td>{{allProds.0.Product_Dimensions}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Batteries</td>
                                                <td>{{allProds.0.Batteries}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Processor_Brand</td>
                                                <td>{{allProds.0.Processor_Brand}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Processor_Type</td>
                                                <td>{{allProds.0.Processor_Type}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">RAM_Size</td>
                                                <td>{{allProds.0.RAM_Size}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Memory_Technology</td>
                                                <td>{{allProds.0.Memory_Technology}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Hard_Drive_Size</td>
                                                <td>{{allProds.0.Hard_Drive_Size}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Hard_Disk_Technology</td>
                                                <td>{{allProds.0.Hard_Disk_Technology}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Graphics_Coprocessor</td>
                                                <td>{{allProds.0.Graphics_Coprocessor}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Operating_System</td>
                                                <td>{{allProds.0.Operating_System}}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat">Date_First_Available</td>
                                                <td>{{allProds.0.Date_First_Available}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show" role="tabpanel" id="reviews">
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star.svg"><img src="/../assets/img/star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clean-related-items">
                    <h3>Related Products</h3>
                    <div class="items">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="border-white clean-related-item">
                                    <div class="image"><a href="/internal/{{all.19.company}}/{{all.19.name}}/"><img class="img-fluid d-block mx-auto" src="{{all.19.l1}}"></a></div>
                                    <div class="related-name"><a href="/internal/{{all.19.company}}/{{all.19.name}}/">{{all.19.name}}</a>
                                        <h4>{{all.19.price}}</h4>
                                        <h6><span style="text-decoration: line-through;">{{all.19.mrp}}</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="border-white clean-related-item">
                                    <div class="image"><a href="/internal/{{all.2.company}}/{{all.2.name}}/"><img class="img-fluid d-block mx-auto" src="{{all.2.l1}}"></a></div>
                                    <div class="related-name"><a href="/internal/{{all.2.company}}/{{all.2.name}}/">{{all.2.name}}</a>
                                        <h4>{{all.2.price}}</h4>
                                        <h6><span style="text-decoration: line-through;">{{all.2.mrp}}</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="border-white clean-related-item">
                                    <div class="image"><a href="/internal/{{all.13.company}}/{{all.13.name}}/"><img class="img-fluid d-block mx-auto" src="{{all.13.l1}}"></a></div>
                                    <div class="related-name"><a href="/internal/{{all.13.company}}/{{all.13.name}}/">{{all.13.name}}</a>
                                        <h4>{{all.13.price}}</h4>
                                        <h6><span style="text-decoration: line-through;">{{all.13.mrp}}</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="border-white clean-related-item">
                                    <div class="image"><a href="/internal/{{all.25.company}}/{{all.25.name}}/"><img class="img-fluid d-block mx-auto" src="{{all.25.l1}}"></a></div>
                                    <div class="related-name"><a href="/internal/{{all.25.company}}/{{all.25.name}}/">{{all.25.name}}</a>
                                        <h4>{{all.25.price}}</h4>
                                        <h6><span style="text-decoration: line-through;">{{all.25.mrp}}</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Company<span>logo </span></a></h3>
                <p class="links"><a href="/">Home</a><strong>&nbsp; &nbsp;·&nbsp; &nbsp;</strong><a href="/internal/blog/">Blog</a><strong>&nbsp; &nbsp;·&nbsp; &nbsp;</strong><a href="/internal/about/">About</a><strong>&nbsp; &nbsp;-&nbsp; &nbsp;</strong><a href="/internal/contact/">Contact</a></p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/account/login/">Login</a></li>
                        <li><a href="/account/register/">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/internal/about/">Company Information</a></li>
                        <li><a href="/internal/contact/">Contact us</a></li>
                        <li><a href="/internal/blog/">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/internal/contact/">FAQ</a></li>
                        <li><a href="/internal/contact/">Help desk</a></li>
                        <li><a href="/internal/contact/">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-secondary" style="margin-top: 30px;margin-bottom: -50px;">
            <div class="col offset-xl-0 text-center">
                <p style="margin: 0px;">© 2020 Copyright Text</p>
            </div>
        </div>
    </footer>
    <script src="/../assets/js/jquery.min.js"></script>
    <script src="/../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/../assets/js/smoothproducts.min.js"></script>
    <script src="/../assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
</body>

</html>