<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Bootstrap-Cards-v2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/static/css/News-Cards.css">
    <link rel="stylesheet" href="/static/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/static/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark clean-navbar" style="color: rgb(255,255,255);padding-bottom: 8px;padding-top: 8px;">
        <div class="container"><a class="navbar-brand text-light logo" href="\">Shop Anytime</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="margin-left: 60px;">
                <form class="form-inline" action="/internal/search/">
                    <div class="form-group" style="margin-right: 20px;"><input class="form-control search-field" type="search" id="search-field" name="search" style="width: 400px;"><i class="fa fa-search" style="font-size: 25px;margin-left: 10px;"></i></div>
                </form>
                <ul class="nav navbar-nav" style="margin-left: 40px;">
                    <li class="nav-item" role="presentation" style="padding-right: 20px;"><a class="nav-link text-light" href="/internal/blog/">Blog</a></li>
                    <li role="presentation" class="nav-item" style="padding-right: 16px;padding-top: 1px;">
                        <div class="nav-item dropdown" style="padding: 4px;"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle text-light" href="#" style="font-size: 12.8px;"><strong>ACCOUNT</strong></a>
                            <div role="menu" class="dropdown-menu text-left"><a class="text-dark" href={{ inoutl }} style="padding-top: 4px;padding-right: 24px;padding-bottom: 4px;padding-left: 24px;font-size: 13px;"><strong>{{ inout }}</strong></a><a class="text-dark" href="/account/register/" style="padding-top: 4px;padding-right: 24px;padding-bottom: 4px;padding-left: 24px;font-size: 13px;"><strong>SIGNUP</strong></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation" style="padding-right: 15px;"><a class="nav-link text-light" href="/internal/about/">About Us</a></li>
                    <li class="nav-item" role="presentation" style="padding-right: 0px;"><a class="nav-link text-light" href="/internal/cart/">CART<i class="fa fa-opencart float-left nav-link" style="font-size: 23px;padding: 0px;margin-top: -3px;color: #ffffff;margin-right: 6px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <h1 style="color:mediumblue">{{ error }}</h1>
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
                </div>
                <form method="POST" action="/account/afterregister/">
                    {% csrf_token %}
                    <div class="form-group"><label for="fname">First Name</label><input class="form-control item" type="text" id="fname" name="fname"></div>
                    <div class="form-group"><label for="lname">Last Name</label><input class="form-control item" type="text" id="lname" name='lname'></div>
                    <div class="form-group"><label for="mobile">Mobile Number</label><input class="form-control item" type="tel" id="mobile" autocomplete="tel" placeholder="+91" name='mobile'></div>
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email" name='email'></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control item" type="password" id="password" name='password'></div>
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button></form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Company<span>logo </span></a></h3>
                <p class="links"><a href="/">Home</a><strong>&nbsp; &nbsp;·&nbsp; &nbsp;</strong><a href="/internal/blog/">Blog</a><strong>&nbsp; &nbsp;·&nbsp; &nbsp;</strong><a href="/internal/about/">About</a><strong>&nbsp; &nbsp;-&nbsp; &nbsp;</strong><a href="/internal/contact/">Contact</a></p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/account/login/">Login</a></li>
                        <li><a href="/account/register/">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/internal/about/">Company Information</a></li>
                        <li><a href="/internal/contact/">Contact us</a></li>
                        <li><a href="/internal/blog/">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/internal/contact/">FAQ</a></li>
                        <li><a href="/internal/contact/">Help desk</a></li>
                        <li><a href="/internal/contact/">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-secondary" style="margin-top: 30px;margin-bottom: -50px;">
            <div class="col offset-xl-0 text-center">
                <p style="margin: 0px;">© 2020 Copyright Text</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/js/smoothproducts.min.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
</body>

</html>